[Unit]
Description=calico node
After=docker.service
Requires=docker.service

[Service]
User=root
PermissionsStartOnly=true
ExecStart=/usr/bin/docker run --net=host --privileged --name=calico-node \
                              -e ETCD_ENDPOINTS=http://192.168.61.133:2379,http://192.168.61.134:2379,http://192.168.61.135:2379 \
                              -e NODENAME=master1 \
                              -e IP=192.168.61.133 \
                              -e IP6= \
                              -e AS= \
                              -e CALICO_IPV4POOL_CIDR=10.125.0.0/16 \
                              -e CALICO_IPV4POOL_IPIP=always \
                              -e CALICO_LIBNETWORK_ENABLED=true \
                              -e CALICO_NETWORKING_BACKEND=bird \
                              -e CALICO_DISABLE_FILE_LOGGING=true \
                              -e FELIX_IPV6SUPPORT=false \
                              -e FELIX_DEFAULTENDPOINTTOHOSTACTION=ACCEPT \
                              -e FELIX_LOGSEVERITYSCREEN=info \
                              -v /var/run/calico:/var/run/calico \
                              -v /lib/modules:/lib/modules \
                              -v /run/docker/plugins:/run/docker/plugins \
                              -v /var/run/docker.sock:/var/run/docker.sock \
                              -v /var/log/calico:/var/log/calico \
                              images.xuhui.com/calico/node:v1.2.1
ExecStop=/usr/bin/docker rm -f calico-node
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
